* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background-color: #0d6efd;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: bold;
    font-size: 18px;
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: white;
}

.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    background-color: #0d6efd;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-small {
    background-color: #0d6efd;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

/* KEGIATAN */
.kegiatan {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.kegiatan h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #ddd;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
